
@{
    ViewBag.Title = "Save";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Save</h2>

<form method="post">
	<input type="text" name="EmployeeName" placeholder="Name" />
	<input type="text" name="Designation" placeholder="Designation" />
	<input type="text" name="email" placeholder="email" />
	<input type="number" name="age" placeholder="18" />
	<input type="number" name="MobileNo" placeholder="017...." />
	<input type="submit" />
</form>

